<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    package="com.zlobrynya.project.readermang">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
 <!--   <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/> -->

    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:name="android.support.multidex.MultiDexApplication"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name="com.zlobrynya.project.readermang.Activity.TopManga"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zlobrynya.project.readermang.Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.zlobrynya.project.readermang.Activity.DescriptionMang"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.zlobrynya.project.readermang.Activity.ShowPages"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.zlobrynya.project.readermang.Activity.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.zlobrynya.project.readermang.Activity.RecentlyRead"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask" />

        <activity
            android:name="com.zlobrynya.project.readermang.Activity.Bookmark"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zlobrynya.project.readermang.Activity.TopManga"/>
        </activity>

        <activity android:name="com.zlobrynya.project.readermang.Activity.DownloadChapter" />

        <activity
            android:name="com.zlobrynya.project.readermang.Activity.ShowDownloaded"
            android:parentActivityName="com.zlobrynya.project.readermang.Activity.TopManga"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zlobrynya.project.readermang.Activity.TopManga"/>
        </activity>

        <activity android:name="com.zlobrynya.project.readermang.Activity.DeleteChapter" />

        <activity android:name="com.zlobrynya.project.readermang.Activity.DeleteChapterInList" />

        <activity
            android:name="com.zlobrynya.project.readermang.Activity.MainSettings"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.zlobrynya.project.readermang.Activity.SelectionMangSite"
            android:launchMode="singleTask">
        </activity>

        <service
            android:name="com.zlobrynya.project.readermang.service.ServiceDownChapter"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.zlobrynya.project.readermang.service.UpdateMangBookmark"
            android:enabled="true"
            android:exported="false"/>

        <receiver android:name="com.zlobrynya.project.readermang.service.AlarmManagerBroadcastReceiver"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b341c54fd73fb2e3d1b1e3571f8c24ffd4a27917" />

    </application>

</manifest>
